@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.hover:hover{
  box-shadow: 0px 0px 11px 0px rgba(184,234,230,0.99);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(184,234,230,0.99);
  -moz-box-shadow: 0px 0px 11px 0px rgba(184,234,230,0.99);
}

.borde{
    border: 1px solid red;
}

.scroll > * {
  flex-shrink: 0;
}

.imagen {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
}
.btn-primary{
  display: flex;
  position: absolute;
  z-index: 22;
  margin-right: 40px;
  right: 0;
}
.primary{
  position: absolute;
  right: 200px;
}
.text-shadow{
  text-shadow: 0px 0px 11px 0px rgba(184,234,230,0.99);
  transform: scale(1.1);
}